@import url('./normalize.css');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Open+Sans');

:root {
    /* https://color.adobe.com/Flat-UI-color-theme-2469224/edit/?copy=true&base=1&rule=Custom&selected=2&name=Copy%20of%20Flat%20UI&mode=rgb&rgbvalues=0.172549,0.243137,0.313725,0.905882,0.298039,0.235294,0.92549,0.941176,0.945098,0.203922,0.596078,0.858824,0.160784,0.501961,0.72549&swatchOrder=0,1,2,3,4 */
    --dark-blue: #2C3E50;
    --light-blue: #2980B9;
    --red: #E74C3C;
    --white: #ECF0F1;
}

html {
    background-color: var(--white);
}

button {
    background-color: white;
}

h1 {
    font-size: 52px;
    margin: 0.1em 0px;
}

header {
    width: 100%;
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    background-color: hsla(0, 100%, 100%, 0.95);
    background-color: var(--dark-blue);
    color: var(--white);
    z-index: 10;
}

.todo-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'Libre Baskerville', sans-serif;
    word-break: break-all;
    box-sizing: border-box;
    padding: 8px 8px;
}

.todo-item:nth-child(odd) {
    background-color: lightgray;
}

.todo-item:nth-child(even) {
    background-color: var(--white);
}

.todo-item button {
    height: 2em;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 10px;
    background-color: var(--dark-blue);
    color: white;
    border-radius: 4px;
}

.todo-item p {
    margin: 0px 10px 0px 0px;
}

.add-section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    margin: 20px 0px;
}

input[type="submit"] {
    background-color: var(--dark-blue);
    color: white;
    border-radius: 0px 5px 5px 0px;

}
input[type="submit"]:disabled {
    background-color: lightgray;
}

.items-section {
    position: relative;
    top: 100px;
    box-sizing: border-box;
    margin: 0px auto 50vh auto;
    width: 40%;
    min-height: 30px;
    border: 1px solid black;
    border-radius: 2px;
}

@media only screen and (max-width: 425px) {
    .items-section {
        width: 80%;
    }
}